body{
    /* display: flex; */
    /* align-items: center; */
    /* height: 20vh;
    background: rgb(249, 247, 247);  */
    margin: 0;
    overflow-x: hidden;
}

/* .............. App.js ......... */

.navbar-custom{
    height: 50px;
    background-color: rgb(243, 218, 79);

}

#home{
    margin: -5px 0 0 50px;
    font-size: 15px;
    color: whitesmoke;
}

.link{
    color: rgb(107, 102, 102);
    font-weight: 800;
}

.coloring{
    color: black;
}

.nav-item {
    padding-left: 100px;
    padding-right: 750px;
    font-size: 15px;
    font-weight: 600;
   
}

.nav-link{
    color: whitesmoke;
}


/* ............ Menu Page ......... */

.index{
  /* font-size: 50px;
  line-height: 32px;
  letter-spacing: 5px;
  text-align: center;

  border:10px solid black;
  min-height: 2rem;
  resize: both;
  background: #ffd73e33;


  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-image:
  url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1; 
  margin-left: 120%; */

  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 25px;
  color: rgb(107, 102, 102);

  position: relative;
  top: -10px;
}

#new{
  position: relative;
  top: -80px;
  left: -42.5%;
  color: rgb(107, 102, 102);
}

.fill{
  position: absolute;
  top: -20px;
  right: 950.5px;
}

 /* .container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  } */

  .menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
  }  

.card {
   
    height: 400px;
    width: 360px;
    border-radius: 10%;
	background-image: linear-gradient(#f9f047, #f0f8f3);

    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgb(198, 146, 13);
  
}

.card-img-top{
    height: 200px;
    width: 200px;
    
    border-radius: 10%;
	/* background-image: linear-gradient(#f9f047, #0fd850); */

    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgb(198, 146, 13);

    /* display: block; */
    
    /* margin-right: 20px; */
    
    /* align-items: center; */

    /* margin: 10px; */
    /* float: left; */

}

.item-info {
    display: block;
    margin: 10px 0 0 -370px;
    margin-bottom: 10px;
}

.item-info header{
    display: flex;
    /* justify-content: space-between; */
    margin: 1px;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item-info h3{
    margin-bottom: 0.5rem;
}

.card-text{
    font-size: 15px;
    margin: -20px 0 0 ;
}


.card-price{
    color: rgb(198, 146, 13);
    font-size: 20px;
    position: relative;
    top: -30px;
    margin: 10px 0px -10px 200px;
}

.card-title{
    font-size: 20px;
    margin: 10px 0 0 -140px;
}